/* GENERAL STYLING */

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	font-size: small;
}
	
.container {
    margin: 0px 5%;
}

header {
	margin: 20px 0;
}

h1 {
	font-size: 150%;
	text-align:        center;
}

label, th {
	text-transform: uppercase;
	font-weight: 700;
}

/* #entryTable {

} */

table {
	border: thin solid black;
	border-collapse: collapse;
}

tr {
	border-top: thin dotted gray;
	border-bottom: thin dotten gray;
}

th, td{
	padding: 5px 20px;
	text-align: center;
	vertical-align: middle;

}

input, textarea {
	outline: none;
    border-radius: 5px;
	height: auto;
}

input:focus, textarea:focus {
	border: 2px solid #6dd3ff;
	border-radius: 5px;
}

/* BUTTON STYLING */

.btn {
	border-radius: 5px;
	background-color: #4991fa;
	border: none;
	color: white;
	width: 100px;
	height: 30px;
}

/* MAP */

#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
	margin: 20px 0;
}

/* FORM CONTENT */
@media screen and (min-width: 641px) {
    form {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        column-gap: 20px;
    }
	.container {
		width: 580px;
		margin: auto;
	}
}

form > .form-group {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 0px 0px 0px;
}

#description-area {
    display: grid;
    grid-column-start: 1;
    grid-column-end:   3;
    grid-row-start:    7;
    grid-row-end:      8;
    padding: 20px 0px 0px 0px;

}

#submit-button {
	grid-row-start: 8;
	grid-row-end: 9;
	padding: 20px 0px 0px 0px;
}
